/* FadingBackground.module.css */
.fadingBackground {
  animation: fadeInOut 4s ease-in-out infinite; /* Duration: 5 seconds, Ease in and out timing function */
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
