.container {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #042104;
  animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.loader {
  position: relative;
  width: 90px;
  height: 90px;

  .one {
    transform: rotate(calc(18deg * 1));

  }
  .two {
    transform: rotate(calc(18deg * 2));

  }
  .three {
    transform: rotate(calc(18deg * 3));
    
  }
  .four {
    transform: rotate(calc(18deg * 4));
    animation-delay: calc(0.1s * 4);
  }
  .five {
    transform: rotate(calc(18deg * 5));
  }
  .six {
    transform: rotate(calc(18deg * 6));
  }
  .seven {
    transform: rotate(calc(18deg * 7));
  }
  .eight {
    transform: rotate(calc(18deg * 8));
  }
  .nine {
    transform: rotate(calc(18deg * 9));
  }
  .ten {
    transform: rotate(calc(18deg * 10));
  }
  .eleven {
    transform: rotate(calc(18deg * 11));
  }
  .twelve {
    transform: rotate(calc(18deg * 12));
  }
  .thirteen {
    transform: rotate(calc(18deg * 13));
  }
  .fourteen {
    transform: rotate(calc(18deg * 14));
  }
  .fifteen {
    transform: rotate(calc(18deg * 15));
  }
  .sixteen {
    transform: rotate(calc(18deg * 16));
  }
  .seventeen {
    transform: rotate(calc(18deg * 17));
  }
  .eighteen {
    transform: rotate(calc(18deg * 18));
  }
  .nineteen {
    transform: rotate(calc(18deg * 19));
  }
  .twenty {
    transform: rotate(calc(18deg * 20));
  }
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  animation: animate 2s linear infinite;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 80px #00ff0a, 0 0 100px #00ff0a;
}

.loader .one::before{
    animation-delay: calc(0.1s * 1);
}
.loader .two::before{
    animation-delay: calc(0.1s * 2);
}
.loader .three::before{
    animation-delay: calc(0.1s * 3);
}
.loader .four::before{
    animation-delay: calc(0.1s * 4);
}
.loader .five::before{
    animation-delay: calc(0.1s * 5);
}
.loader .six::before{
    animation-delay: calc(0.1s * 6);
}
.loader .seven::before{
    animation-delay: calc(0.1s * 7);
}
.loader .eight::before{
    animation-delay: calc(0.1s * 8);
}
.loader .nine::before{
    animation-delay: calc(0.1s * 9);
}
.loader .ten::before{
    animation-delay: calc(0.1s * 10);
}
.loader .eleven::before{
    animation-delay: calc(0.1s * 11);
}
.loader .twelve::before{
    animation-delay: calc(0.1s * 12);
}
.loader .thirteen::before{
    animation-delay: calc(0.1s * 13);
}
.loader .fourteen::before{
    animation-delay: calc(0.1s * 14);
}
.loader .fifteen::before{
    animation-delay: calc(0.1s * 15);
}
.loader .sixteen::before{
    animation-delay: calc(0.1s * 16);
}
.loader .seventeen::before{
    animation-delay: calc(0.1s * 17);
}
.loader .eighteen::before{
    animation-delay: calc(0.1s * 18);
}
.loader .nineteen::before{
    animation-delay: calc(0.1s * 19);
}
.loader .twenty::before{
    animation-delay: calc(0.1s * 20);
}


@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}